<div class="form-container">
    <p class="card-text">Title: <span th:text="${book.title}"></span></p>
    <form th:action="@{/books}" th:modelAttribute="book" th:object="${book}" id="updateBook" method="post">
        <div class="owned-select-container">
            <div style="display: none">
                <input type="text" th:field="${book.title}">
                <input type="text" id="book-id" th:field="${book.id}">
            </div>
            <div class="form-group">
                <label for="owned-select">Owned:</label>
                <select class="form-control" id="owned-select" th:field="${book.owned}">
                    <option th:value="true" label="True"></option>
                    <option th:value="false" label="False"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" placeholder="password">
            </div>
        </div>
        <div class="modal-footer my-modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>

<script>
    $('#updateBook').submit(function (e) {
        e.preventDefault();

        var form = $('#updateBook').serialize()
        var username = $("#username").val();
        var password = $("#password").val();
        var owned = $("#owned-select").val();
        var id = $("#book-id").val();
        var payload = { id, owned };
        $.ajax({
            type: 'post',
            url: "/books",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(payload),
            headers: {
                "Authorization": "Basic " + btoa(username + ":" + password)
            },
            success: function (returnedData) {
                $('#buyModal').modal('hide')
            },

            error: function (xhr, exception) {
                if(xhr.status === 401){
                    alert("Request Failed - Unauthorized");
                } else {
                    alert("Request Failed")
                }
            }
        });
    });
</script>