h4 {
    color:red
}

.app-body {
    height:100%;
    background-color: #282c34;
}

.menu-container {
    display: grid;
}

.button-container {
    margin-top: 10%;
}

.menu-button {
    width: 158px
}