h4 {
    color:red
}

.app-body {
    height:100%;
    background-color: #282c34;
}

.menu-container {
    display: grid;
}

.card-container {
    display: grid;
    width: 60%;
}

.button-container {
    margin-top: 15%;
}

.menu-button {
    width: 158px;
}

.banner-container {
    background-color: #1b1c1d
}

.main-title {
    color: darkcyan;
    text-align: center;
}

.search-container {
    display: contents
}

.search-icon {
    background-color: #007bff
}

.header-bar {
    padding-bottom:5%;
}

.my-card{
    width: 100%;
}

.my-card-header {
    background-color: #1b1c1d !important;
    display: flex;
    position: relative;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.old-republic-color {

}

.home-button-container {
    padding-top: 10px;
    padding-left: 20px;
}

.card-title {
    width: 100%;
}

.edit-icon {
    line-height: 2 !important;
}

.my-modal-content {
    background-color: #282c34 !important;
    color: white;
}

.my-modal-header {
    border-bottom: 1px solid #1b1c1d !important;
}

.my-modal-footer {
    border-top: 0px solid #1b1c1d !important;
}

.search-input {
    margin-bottom: 5px
}